version 15.4
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
!
boot-start-marker
boot system flash0:c2900-IMAGE-ONE.SPA.154-3.M3.bin
boot-end-marker
!
!
!
no aaa new-model
!
!
!
hostname {{ hostname }}
!
!
!
!
!
license udi pid CISCO2921/K9 sn {{ serial_number }}
!
!
!
!
!
!
no ip domain lookup
ip domain name ansible.dev
ip cef
no ipv6 cef
multilink bundle-name authenticated
!
!
cts logging verbose
!
!
!
!
file prompt quiet
username vagrant privilege 15 secret 5 $1$nk0y$K321d7Fx0.Vtni7.1HuDY0
!
redundancy
!
!
ip scp server enable
!
!
!
!
interface Embedded-Service-Engine0/0
 no ip address
 shutdown
!
interface GigabitEthernet0/0
 ip address {{ gig_0_ip }} 255.255.255.0
 duplex auto
 speed auto
!
interface GigabitEthernet0/1
 no ip address
 shutdown
!
interface GigabitEthernet0/2
 no ip address
 speed auto
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
!
!
!
!
control-plane
!
!
!
line con 0
line aux 0
line 2
 no activation-character
 no exec
 transport preferred none
 transport output pad telnet rlogin lapb-ta mop udptn v120 ssh
 stopbits 1
line vty 0 4
 login local
 transport input ssh
!
scheduler allocate 20000 1000
!
end


