napalm==1.1.0
napalm-base==0.14.1
napalm-eos==0.2.1
napalm-fortios==0.1.1
napalm-ibm==0.1.1
napalm-ios==0.1.7
napalm-iosxr==0.2.1
napalm-junos==0.2.1
napalm-nxos==0.2.1
napalm-panos==0.1.0
napalm-pluribus==0.2.0
ncclient==0.5.2
ntc-ansible==0.1.0
paramiko==1.17.2
